secret.config.bearer=your-github-access-token
spring.security.oauth2.client.registration.github.client-id=your-oauth-app-client-id
spring.security.oauth2.client.registration.github.client-secret=you-oauth-app-client-secret
secret.config.organization-name=your-github-organization
secret.config.template-repository=your-template-repo
secret.config.template-owner=github-name-of-template-repo-owner