<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <div th:replace="fragments/header :: head(title='Create Repository')">...</div>
</head>
<body>
<div>
    <div th:replace="fragments/header :: header">...</div>

    <div class="container">
        <form class="form-horizontal" method="post" th:object="${repository}" th:action="@{/createRepository}">
            <fieldset>
                <!-- Form Name -->
                <legend>Repository Registration Form</legend>

                <div class="alert alert-danger" th:if="${#fields.hasErrors('*')}">
                    <p th:each="err : ${#fields.errors('*')}" th:text="${err}"></p>
                </div>

                <!-- Text input-->
                <div class="form-group">
                    <label class="col-md-4 control-label" for="repoName">Team and Repository Name *</label>
                    <div class="col-md-8">
                        <input id="repoName" th:field="*{repoName}" type="text" placeholder="Team and Repository Name" class="form-control input-md" required="">
                    </div>
                    <span class="error" th:if="${#fields.hasErrors('repoName')}" th:errors="*{repoName}"></span>
                </div>

                <!-- Textarea -->
                <div class="form-group">
                    <label class="col-md-4 control-label" for="description">Description</label>
                    <div class="col-md-8">
                        <textarea id="description" th:field="*{description}" class="form-control">Say somethong about your project</textarea>
                    </div>
                </div>

                <!-- Text input-->
                <div class="form-group">
                    <label class="col-md-4 control-label" for="creator">You</label>
                    <div class="col-md-8">
                        <input id="creator" th:field="*{creator}" type="text" placeholder="Your GitHub Name" class="form-control input-md" required="" readonly>
                    </div>
                </div>

                <!-- Text input-->
                <div class="form-group">
                    <label class="col-md-4 control-label" for="teammateOne">Teammate 1 **</label>
                    <div class="col-md-8">
                        <input id="teammateOne" th:field="*{teammateOne}" type="text" placeholder="GitHub Name" class="form-control input-md">
                    </div>
                    <span class="error" th:if="${#fields.hasErrors('teammateOne')}" th:errors="*{teammateOne}"></span>
                </div>

                <!-- Text input-->
                <div class="form-group">
                    <label class="col-md-4 control-label" for="teammateTwo">Teammate 2 **</label>
                    <div class="col-md-8">
                        <input id="teammateTwo" th:field="*{teammateTwo}" type="text" placeholder="GitHub Name" class="form-control input-md">
                    </div>
                    <span class="error" th:if="${#fields.hasErrors('teammateTwo')}" th:errors="*{teammateTwo}"></span>
                </div>

                <!-- Text input-->
                <div class="form-group">
                    <label class="col-md-4 control-label" for="teammateThree">Teammate 3 **</label>
                    <div class="col-md-8">
                        <input id="teammateThree" th:field="*{teammateThree}" type="text" placeholder="GitHub Name" class="form-control input-md">
                    </div>
                    <span class="error" th:if="${#fields.hasErrors('teammateThree')}" th:errors="*{teammateThree}"></span>
                </div>

                <!-- Text input-->
                <div class="form-group">
                    <label class="col-md-4 control-label" for="teammateFour">Teammate 4</label>
                    <div class="col-md-8">
                        <input id="teammateFour" th:field="*{teammateFour}" type="text" placeholder="GitHub Name" class="form-control input-md">
                    </div>
                    <span class="error" th:if="${#fields.hasErrors('teammateFour')}" th:errors="*{teammateFour}"></span>
                </div>

                <!-- Button (Double) -->
                <div class="form-group">
                    <label class="col-md-4 control-label"></label>
                    <div class="col-md-8">
                        <button type="submit" class="btn btn-success">Confirm</button>
                        <button type="reset" class="btn btn-danger">Cancel</button>
                    </div>
                </div>

            </fieldset>
        </form>
    </div>
</div>
</body>
</html>