<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <div th:replace="fragments/header :: head(title='Create Repository')">...</div>
</head>
<body>
<div>
    <div th:replace="fragments/header :: header">...</div>

    <div class="container">
        <form class="form-horizontal" method="post" th:object="${repository}" th:action="@{/createRepository}">
            <fieldset>
                <!-- Form Name -->
                <legend>Repository Registration Form</legend>

                <div class="alert alert-danger" th:if="${#fields.hasErrors('*')}">
                    <p th:each="err : ${#fields.errors('*')}" th:text="${err}"></p>
                </div>

                <!-- Text input-->
                <div class="form-group">
                    <label class="col-md-4 control-label" for="repoName">Team and Repository Name *</label>
                    <div class="col-md-8">
                        <input id="repoName" th:field="*{repoName}" type="text" placeholder="Team and Repository Name" class="form-control input-md" required="">
                        <span class="alert alert-danger alert-inline" th:if="${#fields.hasErrors('repoName')}" th:errors="*{repoName}"></span>
                        <span class="form-text text-muted">Your Team will be referenced by this name during the hackathon.</span>
                    </div>
                </div>

                <!-- Textarea -->
                <div class="form-group">
                    <label class="col-md-4 control-label" for="description">Description [optional]</label>
                    <div class="col-md-8">
                        <textarea id="description" th:field="*{description}" class="form-control"></textarea>
                        <span class="form-text text-muted">Say something about your project.</span>
                    </div>
                </div>

                <!-- Text input-->
                <div class="form-group">
                    <label class="col-md-4 control-label" for="creator">You</label>
                    <div class="col-md-8">
                        <input id="creator" th:field="*{creator}" type="text" placeholder="Your GitHub Name" class="form-control input-md" required="" readonly>
                        <span class="form-text text-muted">Your GitHub name</span>
                    </div>
                </div>

                <!-- Text input-->
                <div class="form-group">
                    <label class="col-md-4 control-label" for="teammateOne">Teammate 2</label>
                    <div class="col-md-8">
                        <input id="teammateOne" th:field="*{teammateOne}" type="text" placeholder="GitHub Name" class="form-control input-md">
                        <span class="alert alert-danger alert-inline" th:if="${#fields.hasErrors('teammateOne')}" th:errors="*{teammateOne}"></span>
                        <span class="form-text text-muted">Required if your Team consists of 2 people.</span>
                    </div>
                </div>

                <!-- Text input-->
                <div class="form-group">
                    <label class="col-md-4 control-label" for="teammateTwo">Teammate 3</label>
                    <div class="col-md-8">
                        <input id="teammateTwo" th:field="*{teammateTwo}" type="text" placeholder="GitHub Name" class="form-control input-md">
                        <span class="alert alert-danger alert-inline" th:if="${#fields.hasErrors('teammateTwo')}" th:errors="*{teammateTwo}"></span>
                        <span class="form-text text-muted">Required if your Team consists of 3 people.</span>
                    </div>
                </div>

                <!-- Text input-->
                <div class="form-group">
                    <label class="col-md-4 control-label" for="teammateThree">Teammate 4</label>
                    <div class="col-md-8">
                        <input id="teammateThree" th:field="*{teammateThree}" type="text" placeholder="GitHub Name" class="form-control input-md">
                        <span class="alert alert-danger alert-inline" th:if="${#fields.hasErrors('teammateThree')}" th:errors="*{teammateThree}"></span>
                        <span class="form-text text-muted">Required if your Team consists of 4 people.</span>
                    </div>
                </div>

                <!-- Text input-->
                <div class="form-group">
                    <label class="col-md-4 control-label" for="teammateFour">Teammate 5</label>
                    <div class="col-md-8">
                        <input id="teammateFour" th:field="*{teammateFour}" type="text" placeholder="GitHub Name" class="form-control input-md">
                        <span class="alert alert-danger alert-inline" th:if="${#fields.hasErrors('teammateFour')}" th:errors="*{teammateFour}"></span>
                        <span class="form-text text-muted">Required if your Team consists of 5 people.</span>
                    </div>
                </div>

                <p class="col-md-8">* Required Field</p>

                <!-- Button (Double) -->
                <div class="form-group">
                    <label class="col-md-4 control-label"></label>
                    <div class="col-md-8">
                        <button type="submit" class="btn btn-success">Confirm</button>
                        <button type="reset" class="btn btn-danger">Cancel</button>
                    </div>
                </div>

            </fieldset>
        </form>
    </div>
</div>
</body>
</html>